.mat-tab-group {
    margin-bottom: 48px;
  }

  .container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }


  .form-gap {
    padding-top: 70px;
}

body{
    background-color: rgb(0, 0, 199);
}