<div *ngIf="isLoading">
    <app-spinner></app-spinner>
</div>
<div *ngIf="!isLoading">
    <div class="row" style=" width: 102%; position: fixed;">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div>

    <div class="container" style="padding-top: 56px;">

        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem; overflow: auto; position: fixed;">
                    <div class="container">
                        <img [src]="currentUserImageUrl" class="card-img-top" alt="..."
                            style="border-radius: 150px; height: 260px; width: 260px;">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{currentUserFirstName + " " + currentUserLastName | titlecase}}</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Chartered Accountant</li>
                                <li class="list-group-item">Lives in Mumbai</li>

                            </ul>
                        </li>

                        <li class="list-group-item">{{allFriendsCount}} connections</li>
                        <li class="list-group-item">{{totalPostCount}} Posts</li>

                    </ul>
                    <!-- <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div> -->
                </div>

            </div>
            <div class="col-2">

            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h3> All Friends</h3>
                            </div>
                        </div>
                        <div *ngIf="allFriendsUserData.length === 0"><span> No Friends!</span></div>

                        <div class="card " style="width: 35rem;" *ngFor="let friend of allFriendsUserData; let idx='index'">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="container">
                                            <img [src]="postImageUrlArray[idx]" class="card-img-top" alt="..."
                                                style="border-radius: 150px; height: 90px; width: 90px;">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">{{friend.firstName + " " +
                                                        friend.lastName | titlecase}}</li>
                                                    <li class="list-group-item">Lives in Mumbai</li>

                                                </ul>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>